```yaml
openapi: 3.0.3
info:
  title: SensorService API
  version: 1.0.0
  description: API для управления устройствами в системе умного дома "Тёплый дом"
servers:
  - url: https://api.warmhouse.com
    description: Основной сервер API
paths:
  /devices/{deviceId}:
    get:
      summary: Получение информации об устройстве
      description: Возвращает данные об устройстве по его идентификатору.
      operationId: getDevice
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Идентификатор устройства
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Устройство найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
              example:
                device_id: 101
                house_id: 1
                device_type_id: 2
                name: Термостат гостиной
                status: true
                created_at: 2025-07-21T13:00:00Z
        '404':
          description: Устройство не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Device not found
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Internal server error
  /devices/{deviceId}/status:
    patch:
      summary: Обновление состояния устройства
      description: Обновляет статус устройства (включено/выключено).
      operationId: updateDeviceStatus
      parameters:
        - name: deviceId
          in: path
          required: true
          description: Идентификатор устройства
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: boolean
                  description: Новый статус устройства (true - включено, false - выключено)
              required:
                - status
            example:
              status: false
      responses:
        '200':
          description: Статус устройства обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_id:
                    type: integer
                    format: int64
                    description: Идентификатор устройства
                  status:
                    type: boolean
                    description: Обновленный статус устройства
                required:
                  - device_id
                  - status
              example:
                device_id: 101
                status: false
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Invalid status value
        '404':
          description: Устройство не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Device not found
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Internal server error
  /houses/{houseId}/devices:
    get:
      summary: Получение списка устройств в доме
      description: Возвращает список всех устройств, связанных с указанным домом.
      operationId: getDevicesByHouse
      parameters:
        - name: houseId
          in: path
          required: true
          description: Идентификатор дома
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Список устройств получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
              example:
                - device_id: 101
                  house_id: 1
                  device_type_id: 2
                  name: Термостат гостиной
                  status: true
                  created_at: 2025-07-21T13:00:00Z
                - device_id: 102
                  house_id: 1
                  device_type_id: 3
                  name: Лампа кухни
                  status: false
                  created_at: 2025-07-21T13:01:00Z
        '404':
          description: Дом не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: House not found
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Internal server error
components:
  schemas:
    Device:
      type: object
      properties:
        device_id:
          type: integer
          format: int64
          description: Идентификатор устройства
        house_id:
          type: integer
          format: int64
          description: Идентификатор дома, к которому относится устройство
        device_type_id:
          type: integer
          format: int64
          description: Идентификатор типа устройства
        name:
          type: string
          description: Название устройства
        status:
          type: boolean
          description: Статус устройства (true - включено, false - выключено)
        created_at:
          type: string
          format: date-time
          description: Дата и время создания устройства
      required:
        - device_id
        - house_id
        - device_type_id
        - name
        - status
        - created_at
    Error:
      type: object
      properties:
        error:
          type: string
          description: Описание ошибки
      required:
        - error